{% extends 'base.html.twig' %}


{% block Title %} Édition d'un menu {% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1> Éditer le menu </h1>
        {#{{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Sauvegarder</button>
        {{ form_end(form) }}#}

        <div class="edit-container">
            <img class="edit-image" src="{{ asset('images/edit.png') }}"/>

            <div class="edit-form">
                {{ include ('admin/menu/form.html.twig',{form:form,button:'Sauvegarder'}) }}
            </div>

        </div>





    </div>
{% endblock %}