
    {{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}

        <div class="form-error">
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="mb-3">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}

        <div class="form-error">
            {{ form_errors(form.description) }}
        </div>
    </div>
    <div class="mb-3">
        {{ form_label(form.price) }}
        {{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}

        <div class="form-error">
            {{ form_errors(form.price) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary col-12">{{ button | default('Creer') }}</button>

    {{ form_end(form) }}
