{% extends 'base.html.twig' %}

{% block Title %} Esapce Admin {% endblock %}

{% block body %}
    <div class="container mt-4">

        <div class="d-flex justify-content-between align-items-center">
            <h1> Gérer les menus </h1>
            <a href="{{ path('admin.menu.create')}}" class="btn btn-warning"> Creer un menu </a>
        </div>

        {% for message in app.session.flashbag.get('success') %}
                <div class="alert alert-warning" role="alert">
                  {{ message }}
                </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th> Nom du menu </th>
                <th> Description </th>
                <th> Prix </th>
                <th> Actions </th>
            </tr>
            </thead>

            <tbody>
                {% for menu in menus %}
                    <tr>
                    <td> {{ menu.name}} </td>
                    <td>{{ menu.description }}</td>
                    <td>{{ menu.price }}</td>
                    <td >
                        <div class="d-flex">
                            <a href="{{ path('admin.menu.edit',{id:menu.id}) }}" class="btn btn-secondary" style="display: inline-block">Editer</a>
                            <form method="post" action="{{ path('admin.menu.delete',{id:menu.id}) }}" style="display: inline-block">
                                <input type="hidden" name="_method"  value="DELETE" />
                                <input type="hidden" name="_token" value="{{ csrf_token('delete'~menu.id) }}"/>
                                <button class="btn btn-danger delete-menu-button" > Supprimer </button>
                            </form>
                        </div>

                    </td>
                <tr
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            {{ knp_pagination_render(menus,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
        </div>

    </div>




{% endblock %}