<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/base.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </head>
    <body id="base-body">
        <div id="core-body">



            
		
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand krispy" href="#">Krispy</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/menus">Menu</a>
                            </li>
                            {% if app.user %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin">Administration</a>
                                     </li>
                            {% endif %}

                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Recherchez un menu" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Rechercher</button>
                            {% if app.user %}
                                <a href="{{ path('logout') }}" style="color:#000" class="ms-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
                                                  <path d="M7.5 1v7h1V1h-1z"/>
                                                  <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"/>
                                            </svg>
                                </a>

                            {% endif %}
                        </form>
                        </div>
                    </div>
                </nav>

            

            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>


{# {% block stylesheets %}
    <style>
        body { 
            background: #EAA734; 
            font: 18px/1.5 sans-serif;
            display:'flex';
            flex-direction:'column';
            justify-content:'center';
            align-items:'center'; 
        }
        #core-body {
            background:#fff;
            width:90%;
            min-height:90vh;
            margin-right:'auto';
            margin-left:'auto';
            border-radius:20px;
        }
    </style>
{% endblock %} #}
