{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="edit-container">
        <div class="login-container">
            <form action="{{ path('home') }}" method="post">
                <div class="form-group col-12">
                    <labe for="username"> Nom d'utilisateur </labe>
                    <input type="tex" id="username" name="_username" class="form-control col-12" value="{{ last_username }}">
                </div>
               <div class="form-group mt-3 col-12">
                    <labe for="password"> Mot de passe </labe>
                    <input type="tex" id="password" name="_password" class="form-control col-12">
                </div>

               <button type="submit" class="btn btn-warning mt-5 col-12"> Se connecter </button>
            </form>
        </div>

        <div class="img-bg">
            <img class="img-detail-big" src="{{ asset('images/home-bg.png') }}"/>
        </div>
    </div>


{% endblock %}


















{#{% block stylesheets %}


<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>

{% endblock %}#}






