#base-body { 
    background: #EAA734; 
    font: 18px/1.5 sans-serif;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
}
#core-body {
    background:#fff;
    width:90% !important;
    max-width: 90% !important;
    min-height:90vh;
    margin-top: 5vh;
    position:relative;
}

.krispy{
    color:#EAA734 !important;
}

.card-rel{
    position: relative;
    height: 100%;
}

.card-rel:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    transition: box-shadow 0.3s ease-in-out;
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

/* Pre-render the bigger shadow, but hide it */
.card-rel::after {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  /* Transition to showing the bigger shadow on hover */
  .card-rel:hover::after {
    opacity: 1;
  }

.price{
    height: 30px;
    border-radius: 5px 5px 0px 0px;
    background-color: #fff;
    position: absolute;
    top:173px;
    left:15px;
    min-width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#000000;
    
}

.descri{
    overflow: hidden;
    color:#607D8B;
    font-size: 0.8em;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.card-item-link{
    text-decoration: none;
    color:#607D8B;
}

.card-item-link:hover{
    color:#EAA734;
}

.card-item-title{
    color:#EAA734 !important;
}

.detail-wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.img-detail{
    width: 150px;
    height: 150px;
}


.img-detail-big{
    max-width:100%;
    max-height:100%;
}

.detail-top-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.detail-multi-img-cont{
    width: 99%;
    margin-left: 1%;
}

.detail-info-cont{
    width: 20%;
}

.detail-descri{
    color:#607D8B;
}

.detail-carousel{
    width: 40%;
    padding: 0;
}


.delete-menu-button{
    background-color: #000 !important;
    border-color: #000000 !important;
    margin-left: 10px;
}

.img-bg{
    height: 80vh;
    min-width: 300px;
    min-height: 300px;
    width: 60%;
}

.login-container{
    margin-top: 20vh;
    margin-left: 10%;
    min-width: 300px;
    width: 20%;
}

.edit-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.edit-image{
    min-width: 300px;
    min-height: 300px;
}

.edit-form{
     min-width: 300px;
    width: 20%;
}

@media screen and (max-width: 600px) {
        #core-body {
            background:#fff;
            width:90%;
            margin-top: 5vh;
            position:relative;
        }
        .login-container{
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                min-width: 300px;
                width: 90%;
        }
        .edit-container{
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        .img-bg{
            min-width: 300px;
            min-height: 300px;
            width: 100%;
            height: 300px;
        }
    }