{% extends 'base.html.twig' %}

{% block body %}
    <div class='container'>
        <div class="container d-flex justify-content-between  mt-5 mb-5">
            <div> Récent menu </div>

            <form class="d-flex justify-content-between col-4">
                
                <select class="form-select" aria-label="Default select example">
                    <option selected>Prix</option>
                    <option value="1">Moins cher</option>
                    <option value="2">Dans la moyenne</option>
                    <option value="3">Le plus cher</option>
                </select>
            </form>
        </div>
        <div class='row flex mb-5'>
            {% for menu in menus %}
                <div class="col-3 mb-3 card-parent" >
                    <div class="card card-rel ">
                        <img src="{{ asset('images/img'~getRandom()~ '.jpg')}}"/>
                        <div class="price"> {{ menu.formatedPrice | number_format(0, '', ' ') }} $</div>
                        <div class="card-body">
                            <h5 class="card-title card-item-title"> {{ menu.name }} </h5>
                            <p class="card-text descri"> {{ menu.description }} </p>
                            <div class="container d-flex justify-content-between align-items-center">
                                <a class="card-item-link" href={{ path('menus.show',{id:menu.id, slug:menu.slug})}}>
                                    Détails
                                </a>
                                <button type="button" class="btn btn-outline-warning"> Commander </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(menus,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
        </div>

    </div>
{% endblock %}