{% extends 'base.html.twig' %}

{% block body %}

        <div class="detail-wrapper">
            <div class="detail-top-cont">
                <div id="carouselExampleIndicators" class="carousel slide detail-carousel" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="img-detail-big" src="{{ asset('images/img1.jpg') }}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img class="img-detail-big" src="{{ asset('images/img2.jpg') }}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img class="img-detail-big" src="{{ asset('images/img3.jpg') }}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="detail-info-cont">
                    <h1> {{ menu.name}} </h1>
                    <p class="detail-descri"> {{ menu.description }} </p>
                    <div>
                        <p > {{ menu.price }} $ </p>
                        <button type="button" class="btn btn-outline-warning"> Commander </button>
                    </div>
                </div>
            </div>
            <div class="mt-5 mb-5  detail-multi-img-cont">
                <img class="img-detail" src="{{ asset('images/img1.jpg') }} " alt="Example" />
                <img class="img-detail" src="{{ asset('images/img2.jpg') }} " alt="Example" />
                <img class="img-detail" src="{{ asset('images/img3.jpg') }} " alt="Example" />
                <img class="img-detail" src="{{ asset('images/img4.jpg') }} " alt="Example" />
                <img class="img-detail" src="{{ asset('images/img5.jpg') }} " alt="Example" />
                <img class="img-detail" src="{{ asset('images/img6.jpg') }} " alt="Example" />
                <img class="img-detail" src="{{ asset('images/img7.jpg') }} " alt="Example" />
                <img class="img-detail" src="{{ asset('images/img8.jpg') }} " alt="Example" />
                <img class="img-detail" src="{{ asset('images/img2.jpg') }} " alt="Example" />
                <img class="img-detail" src="{{ asset('images/img1.jpg') }} " alt="Example" />
            </div>
        </div>

    
{% endblock %}